<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="stylesheets/home.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>API's</title>
</head>

<body>
  <h1>Welcome <%= currentUser.username %> </h1>
  <h3>Your</h3>
  <h2>Current Crypto Transactions</h2>
  <div class="container d-flex justify-content-center mt-1">
    <div class="row">
      <div class="col-md-4 col-xl-6">
        <form action="/" method="POST">
          <label for="symbol">Name</label>
          <select name="order[symbol]" type="text">
            <option value="ada">ADA</option>
            <option value="bnb">BNB</option>
            <option value="btc">BTC</option>
            <option value="bch">BCH</option>
            <option value="dot">DOT</option>
            <option value="doge">DOGE</option>
            <option value="enj">ENJ</option>
            <option value="eos">EOS</option>
            <option value="eth">ETH</option>
            <option value="link">LINK</option>
            <option value="ltc">LTC</option>
            <option value="luna">LUNA</option>
            <option value="trx">TRX</option>
            <option value="shib">SHIB</option>
            <option value="sol">SOL</option>
            <option value="uni">UNI</option>
            <option value="vet">VET</option>
            <option value="xrp">XRP</option>
          </select>
          <label for="boughtAt">Bought at</label>
          <input name="order[boughtAt]" style="width: 70px" type="float">
          <label for="ammount">Amount</label>
          <input name="order[amount]" style="width: 70px" type="float">
          <button type="submit">Create</button>
        </form>
      </div>
    </div>
  </div>
  <div>
    <table id="table">
      <tr id="info">
        <td class="border-hide border-hide-left"></td>
        <td class="border-hide">Coin</td>
        <td class="border-hide">Curr Price</td>
        <td class="border-hide">Bought at</td>
        <td class="border-hide">Spend</td>
        <td class="border-hide">WIN/LOSS</td>
        <td class="border-hide">BALANCE</td>
        <td class="border-hide">Created</td>
      </tr>
      <% for (c of cryptos) {%>
      <% for (coin of displayCoins) {%>
      <% if (c.symbol === coin.symbol) {%>
      <% let wonLost = (((c.amount / c.boughtAt) - (c.amount / coin.current_price)) * coin.current_price) - (c.amount * 0.018) %>
      <% let totalBalance = (wonLost + c.amount) %>
      <tr>
        <td id="coinImgTd">
          <div><img id="coinImg" src="<%= coin.image %>" alt="" srcset=""></div>
        </td>
        <td><%= coin.symbol.toUpperCase() %></td>
        <td><%= coin.current_price %></td>
        <td><%= c.boughtAt %></td>
        <td><%= c.amount %></td>
        <% if (wonLost > 0 ) { %>
        <td class="win"><%=`${wonLost.toFixed(2)} eur`%></td>
        <td class="win"><%=`${totalBalance.toFixed(2)} eur`%></td>
        <% } else {%>
        <td class="loss"><%=`${wonLost.toFixed(2)} eur`%></td>
        <td class="loss"><%=`${totalBalance.toFixed(2)} eur`%></td>
        <% } %>
        <td><%=`${c.createdAt.getDate()}.${c.createdAt.getMonth() + 1}.${c.createdAt.getFullYear()}`%></td>
        <td class="border-hide">
          <form action="/<%= c._id %>?_method=DELETE" method="POST"><button>Delete</button></form>
        </td>
      </tr>
      <% } %>
      <% } %>
      <% } %>
    </table>
  </div>
</body>

</html>